.title-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: black;
}

.menu {
  display: flex;
  flex-direction: row;
}

.item-list {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}
